In [ ]:
df_data_1 = spark.createDataFrame(['2021-07-05T10:00:00.000+000', '2020-12-05T10:00:00.000+000'], "string").toDF("datas_1")
df_data_2 = spark.createDataFrame(['2021-07-05 10:00' '2020-09-02 11:00'], "string").toDF("datas_2") 
df_data_3 = spark.createDataFrame(['05/10/2021', '02/11/2020'], "string").toDF("datas_3")
df_data_4 = spark.createDataFrame(['05/10/2021 12:50', '02/11/2020 12:00'], "string").toDF("datas_4")

display(df_data_1)
display(df_data_2)
display(df_data_3)
display(df_data_4)

In [ ]:
df_data_1 = createOrReplaceTempView('datas1')
df_data_2 = createOrReplaceTempView('datas2')
df_data_3 = createOrReplaceTempView('datas3')
df_data_4 = createOrReplaceTempView('datas4')

In [ ]:
#
df_datas_1_tipagem = spark.sql('''
                               SELECT TO_TIMESTAMP(datas) AS datas
                                FROM datas1
                        ''')

display(df_datas_1_tipagem)

df_datas_2_tipagem = spark.sql('''
                               SELECT CAST(datas AS DATE) AS datas
                                FROM datas2
                        ''')

display(df_datas_2_tipagem)


df_datas_3_tipagem = spark.sql('''
                               SELECT TO_DATE(datas, 'dd/MM/YYYY') AS datas
                                FROM datas3
                        ''')

display(df_datas_3_tipagem)


df_datas_4_tipagem = spark.sql('''
                               SELECT TO_DATE(datas, 'dd/MM/yyyy HH:mm') AS datas
                                FROM datas4
                        ''')

display(df_datas_4_tipagem)

In [ ]:
# usando sql para converter os campos para data
%sql
SELECT TO_TIMESTAMP(datas) AS datas
FROM datas1

In [ ]:
# usando sql para converter os campos para data
%sql
SELECT CAST(datas AS DATE) AS datas
FROM datas2

In [ ]:
# usando sql para converter os campos para data
%sql
SELECT TO_DATE(datas, 'dd/MM/YYYY') AS datas
FROM datas3

In [ ]:
# usando sql para converter os campos para data
%sql
SELECT TO_DATE(datas, 'dd/MM/yyyy HH:mm') AS datas
FROM datas4

In [ ]:
# fazendo o mesmo processo com pyspark
from pyspark.sql.functions import *

df_datas_1_pyspark = df_data_1
df_datas_1_pyspark = df_datas_1_pyspark.spark.withColumn("datas", to_timestamp("datas"))

display(df_datas_1_pyspark)

# ----------------------------------------------------------------

df_datas_2_pyspark = df_data_2
df_datas_2_pyspark = df_datas_2_pyspark.spark.withColumn("datas", to_timestamp("datas"))

display(df_datas_2_pyspark)

# ----------------------------------------------------------------

df_datas_3_pyspark = df_data_3
df_datas_3_pyspark = df_datas_3_pyspark.spark.withColumn("datas", to_date("datas", 'dd/MM/yyyy'))

display(df_datas_3_pyspark)

# ----------------------------------------------------------------

df_datas_4_pyspark = df_data_4
df_datas_4_pyspark = df_datas_4_pyspark.spark.withColumn("datas", to_date("datas", 'dd/MM/yyyy HH:mm'))

display(df_datas_4_pyspark)