In [ ]:
from pyspark.sql.functions import *

df_carros = spark.read.format('csv')
  .option('header', True)
  .load('../data/modelo_carro').distinct()
  
df_carros_2 = df_carros.where(
  (col('id_carro') == '1') |
  (col('id_carro') == '2') |
  (col('id_carro') == '3')
  
)

df_carros_3 = df_carros.where(
    col('id_carro') == '1'
 ).withColumn(
   'preco',
   lit(None)
)

df_carros = df_carros_2.union(df_carros_3)  

  
display(df_carros)

In [ ]:
# criando tabelas temporarias
df_carros = createOrReplaceTempView('carros')

In [ ]:
# usando sql com is not null
%sql
SELECT *
FROM df_carros_final cf
WHERE preco IS NOT NULL

In [ ]:
# criando um df com sql usando IS NOT NULL

df_sql_not_null = spark.sql(''' 
                         SELECT *
                            FROM df_carros_final cf
                            WHERE preco IS NOT NULL

                ''')

display(df_sql_not_null)

In [ ]:
# usando sql com is null
%sql
SELECT *
FROM df_carros_final cf
WHERE preco IS NULL

In [ ]:
# criando um df com sql usando IS NULL

df_sql_is_null = spark.sql(''' 
                         SELECT *
                            FROM df_carros_final cf
                            WHERE preco IS NULL

                ''')

display(df_sql_is_null)

In [ ]:
# is null e is not null (mesmo que IS NULL e IS NOT NULL) com pyspark

df_spark_is_not = df_carros.where(
  col('preco').isNull()
)

display(df_spark_is_null)



df_spark_is_not_null = df_carros.where(
  ~(col('preco').isNull())
)

display(df_spark_is_not_null)