In [ ]:
from pyspark.sql.functions import *

df_carros = spark.read.format('csv')
  .option('header', True)
  .load('../data/modelo_carro')
  
df_marcas = spark.read.format('csv')
  .option('header', True)
  .load('../data/marcas')
  
display(df_carros)
display(df_marcas)

In [ ]:
# aplicado essa operacao para remover os dados da tabela carros
# para mostrar o left e right join

print(df_carros.count())
df_carros = df_carros.where(col('cod_marca') != '22').distinct()
print(df_carros.count())

In [ ]:
# criando tabelas temporarias
df_carros = createOrReplaceTempView('carros')
df_marcas = createOrReplaceTempView('marcas')

In [ ]:
# criando um df com sql usando inner join

df_sql_inner = spark.sql(''' 
                          SELECT *
                          FROM carros c
                          INNER JOIN marcas m ON m.cod_marca = c.cod_marca        
                ''')

display(df_sql_inner)

In [ ]:
# usando sql com inner join
%sql
SELECT *
FROM carros c
INNER JOIN marcas m ON m.cod_marca = c.cod_marca

In [ ]:
# criando um df com sql usando left join

df_sql_left = spark.sql(''' 
                        SELECT *
                        FROM  marcas m
                        LEFT JOIN carros c ON c.cod_marca = m.cod_marca       
                ''')

display(df_sql_left)

In [ ]:
# usando sql com left join
%sql
SELECT *
FROM  marcas m
LEFT JOIN carros c ON c.cod_marca = m.cod_marca

In [ ]:
# criando um df com sql usando right join

df_sql_right = spark.sql(''' 
                  SELECT *
                  FROM carros c
                  RIGHT JOIN marcas m ON m.cod_marca = c.cod_marca        
          ''')

display(df_sql_right)

In [ ]:
# usando sql com right join
%sql
SELECT *
FROM carros c
RIGHT JOIN marcas m ON m.cod_marca = c.cod_marca

In [ ]:
# inner join com pyspark

df_spark_inner = df_carros.join(
  df_marcas,
  (df_carros.cod_marca == df_marcas.cod_marca),
  'inner'
)

display(df_spark_inner)

In [ ]:
# left join com pyspark

df_spark_left = df_marcas.join(
  df_carros,
  (df_marcas.cod_marca == df_carros.cod_marca),
  'left'

)

display(df_spark_left)

In [ ]:
# right join com pyspark

df_spark_right = df_carros.join(
  df_marcas,
  (df_carros.cod_marca == df_marcas.cod_marca),
  'right'
  
)

display(df_spark_right)

In [ ]:
# inner join + select com pyspark 

df_spark_inner = df_carros.join(
  df_marcas,
  (df_carros.cod_marca == df_marcas.cod_marca),
  'inner'
).select(
  df_marcas.marca_carro,
  df_carros['*']
)