In [ ]:
# row_number 
  # escolhe uma coluna da tabela e ordena ela por outro valor
    # com uma tabela carro possuo duas vez o nome fusca 
      # sendo um com o valor 10mil e o outro com o valor 5mil
      # onde o row_number ir√° colocar um ID unico para cada linha
      # de acordo com o preco

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

df_carros = spark.read.format('csv')
  .option('header', True)
  .load('../data/modelo_carro').distinct()

  
df_carros = df_carros.withColumn(
  'preco',
  regexp_replace(
    'preco', '\$', ''
  ).cast(DoubleTypes())
)
  
display(df_carros)

In [ ]:
# criando tabelas temporarias
df_carros.createOrReplaceTempView('carros')

In [ ]:
# usando sql com row_number
%sql
SELECT *,
    ROW_NUMBER() OVER (PARTITION BY modelo_carro ORDER BY preco ASC) row_number
FROM carros

In [ ]:
# criando um df com sql usando row_number

df_sql_row_number = spark.sql(''' 
                        SELECT *,
                            ROW_NUMBER() OVER (PARTITION BY modelo_carro ORDER BY preco ASC) row_number
                        FROM carros 


                ''')

display(df_sql_row_number)

In [ ]:
# funcao row_number com orderBy ASC com pyspark

df_carros_row_number_asc_spark = df_carros.withColumn(
  'row_number',
  row_number().over(
    Window.partitionBy('modelo_carro').orderBy('preco')
  )
)


display(df_carros_row_number_asc_spark)

In [ ]:
# funcao row_number com orderBy DESC com pyspark

df_carros_row_number_desc_spark = df_carros.withColumn(
  'row_number',
  row_number().over(
    Window.partitionBy('modelo_carro').orderBy(col('preco').desc())
  )
)


display(df_carros_row_number_desc_spark)