In [ ]:
# importando os dados
  # assim ele carrega os dados sem o header
dfcarros = spark.read.format('csv').load('./data/modelo_carro.csv')
display(df_carros)

In [ ]:
# iportando dados com header forma1
dfcarros = spark.read.format('csv').option('header', True).load('./data/modelo_carro.csv', sep=',')

display(dfcarros)

In [ ]:
# iportando dados com header forma2
df_carros = spark.read.format('csv')
  .option('header', True)
  .option('delimiter', ',')
  # .option('encoding', 'utf-8')      
  .load('./data/modelo_carro.csv')

display(df_carros)

### usando sql
  ### primeiro devemos criar uma tabela temporarioa
  ### segundo devemos colocar %sql para fazer a consulta livre na tabela temporaria
  ### terceiro mais se quisermos salvar o resultado da consulta sql em um df
      - devemos definir um df novo = o resultado da consulta

In [ ]:
# criando tabela temporaria
df_carros.createOrReplaceTempView('carros')
df_carros_sql = spark.sql('''
                          SELECT id_carro, modelo_carro
                          FROM carros
                    ''')

display(df_carros_sql)

In [ ]:
# fazendo select com %sql
%sql
SELECT *
FROM carros

In [ ]:
# fazendo o mesmo processo do sql somente com o spark
df_carros_spark = df_carros.select('id_carro', 'modelo_carro')
display(df_carros_spark)

In [ ]:
# fazendo o mesmo processo anterior colocano apelidos nas colunas (opcao1)
df_carros_spark = df_carros.selectExpr('id_carro AS codigo', 'modelo_carro')
display(df_carros_spark)

In [ ]:
# fazendo o mesmo processo anterior colocano apelidos nas colunas (opcao2)
  # from pyspark.sql.functions import col   --> assim importa somente oq vai usar
  # from pyspark.sql.functions import *     --> assim importa tudo que o pacote functions tem
from pyspark.sql.functions import col
df_carros_spark = df_carros.select(col('id_carro').alias('codigo'), 'modelo_carro')
display(df_carros_spark)