In [ ]:
# importando os dados
  # assim ele carrega os dados sem o header
dfcarros = spark.read.format('csv').load('./data/modelo_carro.csv')
display(df_carros)

In [ ]:
# iportando dados com header forma1
dfcarros = spark.read.format('csv').option('header', True).load('./data/modelo_carro.csv', sep=',')

display(dfcarros)

In [ ]:
# iportando dados com header forma2
df_carros = spark.read.format('csv')
  .option('header', True)
  .option('delimiter', ',')
  # .option('encoding', 'utf-8')      
  .load('./data/modelo_carro.csv')

display(df_carros)

In [ ]:
# criando tabela temporaria
df_carros.createOrReplaceTempView('carros')
df_carros_sql = spark.sql('''
                          SELECT id_carro, modelo_carro
                          FROM carros
                          where id_carro = 1 OR modelo_carro = 'Golf'
                    ''')

display(df_carros_sql)

In [ ]:
# fazendo select com %sql
%sql
SELECT *
FROM carros
where id_carro = 1 OR modelo_carro = 'Golf'

In [ ]:
# fazendo o mesmo processo do sql somente com o spark
df_carros_spark = df_carros.where("id_carro == '1'")
display(df_carros_spark)

In [ ]:
# fazendo o mesmo processo anterior adicionando um novo filtro (opcao1)
from pyspark.sql.functions import *

df_carros_spark = df_carros.where(
    [col("id_carro") == "1"] |
    [col("modelo_carro") == "Golf"]
    
display(df_carros_spark)

In [ ]:
# fazendo o mesmo processo anterior adicionando um novo filtro (opcao2)
from pyspark.sql.functions import *

df_carros_spark = df_carros.where(
    [col("id_carro") == "1"] &
    [col("modelo_carro") == "Avalon"]
    
display(df_carros_spark)

In [ ]:
# fazendo o mesmo processo anterior adicionando um novo filtro (opcao3)
from pyspark.sql.functions import *

df_carros_spark = df_carros.where(
  df_carros.id_carro == '1'
)
    
display(df_carros_spark)