In [ ]:
# iportando dados com header ja defindo sql.functions
from pyspark.sql.functions import *

df_carros = spark.read.format('csv')
  .option('header', True)
  .option('delimiter', ',')
  # .option('encoding', 'utf-8')      
  .load('./data/modelo_carro.csv')

df_carros = df_carros.withColumn(
  'preco',
  regexp_replace(col('preco'), '\$', '')
  
)

display(df_carros)

In [ ]:
# criando tabela tempor√°ria
df_carros.createOrReplaceTempView('carros')

df_carros_sql_substring = spark.sql('''
                        SELECT modelo_carro,
                              SUBSTRING(modelo_carro, 2, 3)
                        FROM carros
                  ''')

display(df_carros_sql_substring)

df_carros_sql_left = spark.sql('''
                        SELECT modelo_carro,
                              LEFT(modelo_carro, 2)
                        FROM carros
                  ''')

display(df_carros_sql_left)



df_carros_sql_right = spark.sql('''
                        SELECT modelo_carro,
                              RIGHT(modelo_carro, 3)
                        FROM carros
                  ''')

display(df_carros_sql_right)

In [ ]:
# vizualizando o schema dos dados
df_carros_sql_substring.printSchena()
df_carros_sql_left.printSchema()
df_carros_sql_right.printSchema()

In [ ]:
# SUBSTRING (campo, posicao, qtde_caracteres)
%sql
SELECT modelo_carro,
  SUBSTRING(modelo_carro, 2, 3)
FROM carros

In [ ]:
# LEFT (qtde_caracteres da esquerda para direita)
%sql
SELECT modelo_carro,
  LEFT(modelo_carro, 2)
FROM carros

In [ ]:
# RIGHT (qtde_caracteres da direita para esquerda)
%sql
SELECT modelo_carro,
  RIGHT(modelo_carro, 3)
FROM carros

In [ ]:
# fazendo com o pyspark com SUBSTRING

df_carros_pyspark_substring = df_carros
df_carros_pyspark_substring = df_carros_pyspark_substring.withColumn(
  'modelo_substring', substring('modelo_carro', 1, 3)
  
)

display(df_carros_pyspark_substring)

In [ ]:
# fazendo com o pyspark com LEFT

df_carros_pyspark_left = df_carros
df_carros_pyspark_left = df_carros_pyspark_left.withColumn(
  'modelo_left', expr('LEFT(modelo_carro, 3)')
  
)

display(df_carros_pyspark_left)

In [ ]:
# fazendo com o pyspark com RIGHT

df_carros_pyspark_right = df_carros
df_carros_pyspark_right = df_carros_pyspark_right.withColumn(
  'modelo_right', expr('RIGHT(modelo_carro, 3)')
  
)

display(df_carros_pyspark_right)

In [ ]:
# fazendo com o pyspark com SUBSTRING LEFT RIGHT

df_carros_pyspark_completo = df_carros
df_carros_pyspark_completo = df_carros_pyspark_completo.withColumn(
  'modelo_substring', substring('modelo_carro', 1, 3)
  'modelo_left', expr("LEFT(modelo_carro, 2)")
  'modelo_right', expr("RIGHT(modelo_carro, 3)")
  
)

display(df_carros_pyspark_completo)